[flake8]
max-line-length = 88
extend-ignore = E203, W503 
exclude =
    .venv,
    .venv*,
    .venv_dev,
    terraform/,
    api_lambda_build/,
    *.zip,
    __pycache__,
    .git,
    visualization/*.png
